<link rel="stylesheet" href="../layui/css/layui.css">
<link rel="stylesheet" href="../layui/css/admin.css">
<link rel="stylesheet" href="../layui/css/view.css">
<style>
    .tip {
        display: block;
        width: 200px;
        height: 80px;
        cursor: pointer;
    }
</style>
<div class="layui-content">
    <div class="layui-row">
        <div class="layui-card">
            <form class="layui-form layui-card-body" method="post" action="/user/addUserInfo" lay-filter="gamerole-form">
                <input type="hidden" id="layerIndex" value="-1">
                <!--<input type="hidden" name="id">-->

                <div class="layui-form-item">
                    <label class="layui-form-label">角色名称</label>
                    <div class="layui-input-block">
                        <input type="text" id="roleName" name="roleName" lay-verify="title" autocomplete="off"
                               placeholder="请输入角色名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input type="radio" name="sex" value="男" title="男" checked=""/><i style="color: #00FF00"
                                                                                          class="layui-icon">&#xe662;</i>
                        <input type="radio" name="sex" value="女" title="女"/><i style="color: deeppink"
                                                                               class="layui-icon">&#xe661;</i>
                    </div>
                </div>
                <input class="layui-btn layui-btn-blue" type="submit" id="crBtn" value="提交创建"/>
            </form>

        </div>
    </div>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../layui/layui.all.js"></script>

<script>
    $(function () {
        layer.alert('欢迎使用，还没有角色，快创建个角色吧', {icon: 6});
    });

</script>

