<link rel="stylesheet" href="../layui/css/layui.css">
<link rel="stylesheet" href="../layui/css/admin.css">
<link rel="stylesheet" href="../layui/css/view.css">
<div class="layui-content">
    <table class="layui-hide" id="listDesingation" lay-filter="listDesingation"></table>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../layui/layui.all.js"></script>

<script type="text/html" id="exchangeBar">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="exchange">兑换</a>
</script>

<script>
    layui.use('table', function () {
        var table = layui.table;

        table.render({
            id: 'listDesingation'
            , elem: '#listDesingation'
            , url: 'desingation/getDesingation'
            , cols: [[
                {field: 'id', width: 80, title: 'ID', sort: true}
                , {field: 'name', width: 150, title: '称号'}
                , {field: 'integral', width: 380, title: '所需积分', sort: true}
                , {fixed: 'right', title: '操作', toolbar: '#exchangeBar', width: 100}
            ]], response: {
                //statusName: 'status' //规定数据状态的字段名称，默认：code
                //,statusCode: 200 //规定成功的状态码，默认：0
                countName: 'total' //规定数据总数的字段名称，默认：count
                , dataName: 'list' //规定数据列表的字段名称，默认：data
            }
            , skin: 'line' //表格风格
            , page: true //是否显示分页
            , limits: [10, 20, 50]
            , limit: 10 //每页默认显示的数量
        });

        table.on('tool(listDesingation)', function (obj) {
            if (obj.event == 'exchange') {
                var data = obj.data;
                //console.log(data)
                $.get("user/getUserInfoByUserId", {}, function (list) {
                    if (list.integral < data.integral) {
                        layer.alert("积分不足，无法兑换");

                    }else {
                        $.post('user/exchangeDesingation', {id: data.id}, function () {

                        });
                        layer.alert("兑换成功");
                        function jumurl(){
                            window.location.href = '/index';
                        }
                        setTimeout(jumurl,2000);


                    }
                });
            }
        });


    });
</script>

