<link rel="stylesheet" href="../layui/css/layui.css">
<link rel="stylesheet" href="../layui/css/admin.css">
<link rel="stylesheet" href="../layui/css/view.css">
<style>
    .tip {
        width: 200px;
        height: 80px;
        cursor: pointer;
    }
</style>
<div class="layui-content">
    <label class="layui-form-label">修改头像</label>
    <div class="layui-row layui-col-space10" id="imgBoxs">
        <!--<img class="tip" src="../image/4.jpg" data-id="1">-->
        <!--<img class="tip" src="../image/4.jpg" data-id="2">-->
        <!--<img class="tip" src="../image/4.jpg" data-id="3">-->
        <!--<img class="tip" src="../image/4.jpg" data-id="4">-->
        <!--<img class="tip" src="../image/4.jpg" data-id="5">-->
        <!--<img class="tip" src="../image/4.jpg" data-id="6">-->
    </div>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../layui/layui.all.js"></script>

<script>
    $(function () {
        var head_id;
        $.get('user/getAllHeadImg', {}, function (data) {
            // console.log(data);
            var imgItems = '';
            for (var i = 0; i < data.length; i++) {
                imgItems += '<img tag="img" class="tip" src="\.' + data[i].headImgPath + '" data-id="' + data[i].id + '">';
            }
            $("#imgBoxs").html(imgItems);


            $(".tip").click(function () {
                headImgId = $(this).data("id");
                $('[tag="img"]').css("border", "none");
                $(this).css("border", "2px solid blue");
                $.post("user/updateHeadImg",{headImgId:headImgId},function (data) {
                    location.href = "/index";
                })
            });
        });

    });

    // layui.use('upload', function () {
    //     var $ = layui.jquery
    //         , upload = layui.upload;
    //
    //
    //     var uploadInst = upload.render({
    //         elem: '#test1'
    //         , url: '/upload/'
    //         , before: function (obj) {
    //             //预读本地文件示例，不支持ie8
    //             obj.preview(function (index, file, result) {
    //                 $('#demo1').attr('src', result); //图片链接（base64）
    //             });
    //         }
    //         , done: function (res) {
    //             //如果上传失败
    //             if (res.code > 0) {
    //                 return layer.msg('上传失败');
    //             }
    //             //上传成功
    //         }
    //         , error: function () {
    //             //演示失败状态，并实现重传
    //             var demoText = $('#demoText');
    //             demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
    //             demoText.find('.demo-reload').on('click', function () {
    //                 uploadInst.upload();
    //             });
    //         }
    //     });
    //
    //     //绑定原始文件域
    //     upload.render({
    //         elem: '#test20'
    //         , url: '/upload/'
    //         , done: function (res) {
    //             console.log(res)
    //         }
    //     });
    //
    // });
</script>

