<link rel="stylesheet" href="../layui/css/layui.css">
<link rel="stylesheet" href="../layui/css/admin.css">
<link rel="stylesheet" href="../layui/css/view.css">
<style>
    .cardItem {
        height: 120px;
        width: 120px;
        margin: 5px;
    }

    .btn {
        height: 25px;
        width: 35px;
        font-size: 10px;
        background-color: rgba(255, 0, 0, 0.51);
        border: none;
        cursor: pointer;
        position: absolute;
        left: 45px;
        bottom: 45px;
    }

    .ulBox {
        position: relative;
        width: 130px;
        height: 200px;
        top: -90px;
        left: 130px;
    }

    .box {
        float: left;
        position: relative;
        width: 262px;
        height: 200px;
    }
</style>
<div class="layui-content">
    <div class="site-demo-flow" id="LAY_demo3">
        <div>
            <h1>角色信息</h1>
            <h2>血量</h2>
            <h2>攻击</h2>
            <h2>防御</h2>
            <h2>暴击</h2>
            <h2>闪避</h2>
        </div>

        <div id="play" class="layui-row" style="margin-top: 20px;border: 2px solid yellow">
            <!--<div class="box"><img class="cardItem" src="../image/4.jpg">-->
            <!--<button class="btn">休息</button>-->
            <!--</div>-->

            <!--<div class="box"><img class="cardItem" src="../image/4.jpg">-->
            <!--<button class="btn">休息</button>-->
            <!--</div>-->

            <!--<div class="box"><img class="cardItem" src="../image/4.jpg">-->
            <!--<button class="btn">休息</button>-->
            <!--</div>-->

            <!--<div class="box"><img class="cardItem" src="../image/4.jpg">-->
            <!--<button class="btn">休息</button>-->
            <!--</div>-->

            <!--<div class="box"><img class="cardItem" src="../image/4.jpg">-->
            <!--<button class="btn">休息</button>-->
            <!--</div>-->
        </div>

        <div id="unPlay" class="layui-row" style="margin-top: 10px;border: 2px solid red">
            <!--<div class="box"><img class="cardItem" src="../image/4.jpg">-->
            <!--<button class="btn">上阵</button>-->
            <!--</div>-->

            <!--<div class="box"><img class="cardItem" src="../image/4.jpg">-->
            <!--<button class="btn">上阵</button>-->
            <!--</div>-->

            <!--<div class="box"><img class="cardItem" src="../image/4.jpg">-->
            <!--<button class="btn">上阵</button>-->
            <!--</div>-->

            <!--<div class="box"><img class="cardItem" src="../image/4.jpg">-->
            <!--<button class="btn">上阵</button>-->
            <!--</div>-->

            <!--<div class="box"><img class="cardItem" src="../image/4.jpg">-->
            <!--<button class="btn">上阵</button>-->
            <!--</div>-->

            <!--<div class="box"><img class="cardItem" src="../image/4.jpg">-->
            <!--<button class="btn">上阵</button>-->
            <!--</div>-->

            <!--<div class="box"><img class="cardItem" src="../image/4.jpg">-->
            <!--<button class="btn">上阵</button>-->
            <!--</div>-->
            <!--<div class="box"><img class="cardItem" src="../image/4.jpg">-->
            <!--<button class="btn">上阵</button>-->
            <!--</div>-->

            <!--<div class="box"><img class="cardItem" src="../image/4.jpg">-->
            <!--<button class="btn">上阵</button>-->
            <!--</div>-->
            <div class="box"><img class="cardItem" src="../image/4.jpg">
                <ul class="ulBox">
                    <li>名称：sss</li>
                    <li>攻击：1000</li>
                </ul>
                <button class="btn">上阵</button>
            </div>

        </div>

    </div>
</div>
<script src="../js/jquery.min.js"></script>
<script src="../layui/layui.all.js"></script>

<script>
    $(function () {
        layui.use('flow', function () {
            var flow = layui.flow;

            //按屏加载图片
            flow.lazyimg({
                elem: '#LAY_demo3 img'
                , scrollElem: '#LAY_demo3' //一般不用设置，此处只是演示需要。
            });
        });
        var divBox = '<h1 style="text-align:  center">拥有卡片</h1>';
        $.get("/picture/getAllPictureByUserInfoId", {}, function (data) {
            var length = data.count;
            for (var i = 0; i < data.list.length; i++) {
                divBox += '<div class="box"><img class="cardItem" src="\.' + data.list[i].picturePath + '">;'
                divBox += '<ul class="ulBox">';
                divBox += '<li>名称：' + data.list[i].pictureName + '</li>';
                divBox += '<li>攻击：' + data.list[i].harm + '</li>';
                divBox += '</ul>';
                divBox += '<button data-id="' + data.list[i].id + '" label="btnPlay" class="btn">上阵</button>';
                divBox += '</div>';
            }
            $("#unPlay").html(divBox);
            $("[label='btnPlay']").click(function () {
                var id = $(this).data("id");
                if (length < 5) {
                    $.post("/picture/updatePictureStatus", {flag: 1, id: id}, function (data) {
                        window.location.href = "/user/user.html";
                    });
                } else {
                    layer.alert("上阵卡片已满")
                }
            });

        });

        var divBox1 = '<h1 style="text-align:  center">上阵卡片</h1>';
        $.get("/picture/getAllPictureByStatus", {}, function (data) {
            for (var i = 0; i < data.length; i++) {
                divBox1 += '<div class="box"><img class="cardItem" src="\.' + data[i].picturePath + '">;'
                divBox1 += '<ul class="ulBox">';
                divBox1 += '<li>名称：' + data[i].pictureName + '</li>';
                divBox1 += '<li>攻击：' + data[i].harm + '</li>';
                divBox1 += '</ul>';
                divBox1 += '<button data-id="' + data[i].id + '" label="btnUnPlay" class="btn">休息</button>';
                divBox1 += '</div>';
            }
            $("#play").html(divBox1);
            $("[label='btnUnPlay']").click(function () {
                var id = $(this).data("id");
                // alert(id);
                $.post("/picture/updatePictureStatus", {flag: 0, id: id}, function (data) {
                    window.location.href = "/user/user.html";
                })
            });
        });


    });

</script>

